extends layout

block content
  h1(style="text-align:left")= "Jordan Whyte's Blog"
  // span(style="float:right")
  //   a(href="/createLayout")="Create Post"
  div(id="outer-container")
    ul 
      each item in data 
        div(id="inner-container")
          h3 #{item.blog_title}
          span  #{item.blog_txt}
          br
          br
          div(id="align-right") Post Number #{item.blog_id}
        br
        br 
    br

  p Create a blog post below!
  form(action="/add", method="POST")
    input(name="blogtitle", id="blogtitle", value="Blog Title" required)
    br
    input(name="blogtxt", id="blogtxt", value="Blog Text", size="200" required)
    button(id="create", type="submit")
      p add item 
  br
  br
  p Delete a blog post below!
  form(action="/delete", method="POST")
    input(name="blog", id="blog", type="number", value="Enter the post number")
    button(id="delete", type="submit")
      p delete item 
  br
  br
  p Update a blog post below!
  form(action="/update", method="POST")
    input(name="blogid", id="blogid", type="number", value="Enter the post number" required)
    br
    input(name="blogtxt", id="blogtxt", value="Enter what the blog post should say", size="200" required)
    button(id="update", type="submit")
      p update item