body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(28, 28, 28);
}

a {
  color: #00B7FF;
}

h1 {
  color:darkturquoise;
  font-family:brush-script;
  font-size: 50px;
}

#outer-container{
  width: 80%;
  height: 80%;
  border-width: 2px;
  border-style: solid;
  border-color: darkturquoise;
  padding: 5px;
  background-color:grey;
}

#inner-container{
  width: 60%;
  height: 60%;
  border-width: 2px;
  border-style: solid;
  border-color: darkturquoise;
  padding: 5px;
  background-color:lightgrey;
  color:black;
}

#inputs{
  font-size: 20px;
  text-align: center;
}

#separate{
  padding-top: 500px;
}

#align-right{
  text-align: right;
  font-size: small;
}


ul{
  color:black;
  font-size: large;
}

#images{
  text-align:center;
}

